@import url(https://fonts.googleapis.com/css?family=Russo+One);

#editor-wrapper {
    padding: 0px;
    margin: 1rem 0px;
    box-shadow: 1px 1px 10px 2px #3a5f5f;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#editor {
    background-color: #C0D8D8;
    resize: none;
    margin: 0px;
    padding: 0.5rem;
    border: 1px solid #000000;
    outline: none;
    flex-grow: 1;
}
.header {
    font-family: 'Russo One', sans-serif;
    background-color: #4AA3A3;
    font-size: large;
    border: 1px solid #000000;
    border-width: 1px 1px 0px 1px;
    flex-basis: 100%;
    padding: 0.3rem 0.5rem;
    display: flex;
    justify-content: start;
    align-items: center;
    align-content: stretch;
}
.header svg {
    margin-right: 0.5rem;
}
.expand {
    transform: rotate(45deg);
    margin-left: auto;
    cursor: pointer;
}
.expand:hover {
    color: #57E2B1;
}


@media screen and (min-width: 768px) {
    #editor {
        width: 60vw;
    }    
}
@media screen and (min-width: 1024px) {
    #editor {
        width: 50vw;
    }    
}
@media screen and (min-width: 1280px) {
    #editor {
        width: 40vw;
    }    
}
@media screen and (min-width: 1440px) {
    #editor {
        width: 35vw;
    }    
}
@media screen and (max-width: 768px) {
    #editor {
        width: 90vw;
    }    
}